#container{
	margin: 0 auto;
	width: 340px;
	height: 600px;
	background-color: B7F8F6;
	border-style: solid;
}

#titolo{
	position: relative;
	font-family: Agency FB;
	font-size: 40px;
	margin-top: -16%;
	width: 100%;
	height: 10%;
	background-color: black;
}

#titolo1{
margin-left: 5%;
color: fff;
}

#div1{
	position: relative;

}
#divA1{
	position: absolute;
	left: 10%;
	width: 35%;
	background-color: F19478;
	text-align: center;
	color: fff;
}

#divA2{
	position: absolute;
	left: 55%;
	background-color: F19478;
	width: 35%;
	text-align: center;
	color: fff;
}
#work{
	position: relative;
	top: 20%;
	width: 100%;
	height: 60%;

	
}

#work1{
	position: absolute;
	margin-top: 0%;
	width: 50%;
	left: 50%;
	background-color:7BC9F6;
	color: fff;
}


#work2{
	position: absolute;
	margin-top: 20%;
	width: 50%;
	left: 50%;
	background-color:7BC9F6;
	color: fff;
}

#work3{
	position: absolute;
	margin-top: 40%;
	width: 50%;
	left: 50%;
	background-color:7BC9F6;
	color: fff;
}

#work4{
	position: absolute;
	margin-top: 60%;
	width: 50%;
	left: 50%;
	background-color:7BC9F6;
	color: fff;
}

#work5{
	position: absolute;
	margin-top: 80%;
	width: 50%;
	left: 50%;
	background-color:7BC9F6;
	color: fff;
}

a{
	text-decoration: none;
}






